/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
*.opensdf
*.tlog
*.log
.vs
/.vs/
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Logs
/content
.vscode
.DS_Store
polymer/test/integration/screenshots-current/
polymer/_site/
polymer/.firebase/